/* --border-bottom-width: 16px; */

.footer {
    padding-bottom: calc(40px + 16px);
    margin-top: 64px;
    border-bottom: 16px solid #1B1FDD;
}

.footer::before {
    content: '';
    display: block;
    width: 80px;
    height: 8px;
    margin: 0 auto 56px;
    background-color: #eaeaea;
}

@media (min-width: 768px) {
    .footer {
        padding-bottom: calc(80px + 16px);
        margin-top: 160px;
    }

    .footer::before {
        margin-bottom: 152px;
    }
}

/* footer-nav */

.footer-nav__list {
    padding: 0;
    list-style: none;
}

.footer-nav__list-item {
    display: block;
}

.footer-nav__list-item + .footer-nav__list-item {
    margin-top: 24px;
}

/* --border-width: 2px; */

.footer-nav__list-item-link {
    

    display: block;
    padding: 8px;
    border-left-width: 2px;
    border-left-style: solid;
    border-color: #eaeaea;
    font-size: 16px;
    line-height: 20px;
    text-decoration: none;
    color: #1B1FDD;
}

.footer-nav__list-item-link:hover,
.footer-nav__list-item-link--active {
    border-color: #23FFC6;
}

@media (min-width: 768px) {
    .footer-nav__list {
        display: flex;
    }

    .footer-nav__list-item {
        flex: 1;
    }

    .footer-nav__list-item + .footer-nav__list-item {
        margin-top: 0;
        margin-left: 40px;
    }

    .footer-nav__list-item-link {
        padding-bottom: calc(16px - 2px);
        border-left: none;
        border-bottom-width: 2px;
        border-bottom-style: solid;
        text-align: center;
    }
}

/* footer contact */

.footer-contact {
    margin: 80px auto;
}

.footer-contact__hi {
    font-size: 16px;
    line-height: 20px;
    color: #404040;
}

.footer-contact__email {
    margin: 8px auto;
    font-size: 24px;
    line-height: 32px;
    color: #1B1FDD;
}

.footer-contact__copy-btn {
    padding: 16px 24px;
    border: 1px solid #23FFC6;
    border-radius: 4px;
    font-size: 16px;
    line-height: 20px;
    color: #404040;
    background: transparent;
}

.footer-contact__copy-btn:hover {
    background: #23FFC6;
}

@media (min-width: 768px) {
    .footer-contact {
        text-align: center;
    }

    .footer-contact__hi {
        font-size: 20px;
        line-height: 32px;
        color: #404040;
    }

    .footer-contact__email {
        font-size: 32px;
        line-height: 48px;
    }
}

/* footer social media */

.footer-social-media__link {
    display: block;
    font-size: 16px;
    line-height: 24px;
    text-decoration: none;
    color: #1B1FDD;
}

.footer-social-media__link + .footer-social-media__link {
    margin-top: 40px;
}

@media (min-width: 768px) {
    .footer-social-media__link {
        text-align: center;
    }
}
