:root {
    --primary: #1B1FDD;
    --secondary: #23FFC6;

    --gray-dark: #404040;
    --gray-lighter: #eaeaea;

    --font-family-main: 'Source Sans Pro', sans-serif;
    --font-family-support: 'Source Code Pro', monospace;
}

*,
*:before,
*:after {
    box-sizing: border-box;
}

body {
    font-family: var(--font-family-main);
}

a, button {
    font-family: var(--font-family-support);
}
